Connor Kim <connorkim.kim3@gmail.com> <152044036+ShrugShoulders@users.noreply.github.com>
Connor Kim <connorkim.kim3@gmail.com> <connorkim.kim3@outlook.com>
Connor Kim <connorkim.kim3@gmail.com> <connor.kim@canvas-iad-prod-c1-1262762608.us-east-1.elb.amazonaws.com>

Bash Elliott <bashelliott@gmail.com> <rackodo.business@gmail.com>
